:root {
  --bluedark: #14213d;
  --bluelight: #394c99;
  --bluelight2: #f9fbff;
  --yellowdark: #e5940d;
  --yellowdark2: #de8d06;
  --yellowlight: #f8a215;
  --yellowlight2: #fae4c0;
  --grayp: #bab5b5;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bluelight2);
}
#nav {
  background: var(--bluedark);
  padding: 10px 0;
}
#hero-section {
  background: var(--bluedark);
  height: 100vh;
}
#brand {
  background: var(--bluelight2);
  height: 100px;
}
#portfolio {
  height: 650px;
  margin-top: 280px;
}
.card-img {
  border-radius: 20px;
}
#card {
  background: var(--bluelight2);
  height: 760px;
  margin-top: 70px;
}
.btn-primary {
  background: var(--bluedark);
  padding: 7px 7px;
}
.btn-primary:hover {
  background: var(--bluelight);
}
.diskon {
  padding: 4px 16px;
  border-radius: 100px;
  background: #f8a215;
  color: white;
}
.card1 {
  background: white;
  width: 340px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 40px 20px;
  margin-right: 25px;
}
.card2 {
  background: white;
  width: 340px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 40px 20px;
  margin-right: 25px;
}
.card3 {
  background: white;
  width: 340px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 40px 20px;
}
#portfolio.container {
  border-radius: 25px;
}
#harga {
  margin-top: 130px;
  height: 350px;
}
#img_harga {
  border-radius: 20px;
}
#revisi {
  margin-bottom: 40px;
  height: 350px;
}
#img_revisi {
  border-radius: 20px;
}
#jaminan {
  background: var(--bluedark);
  height: 500px;
}
#jaminan.container {
  border-radius: 25px;
}
.accordion {
  background: var(--bluelight2);
  margin: 70px 0;
}
.footer {
  background: var(--bluedark);
  height: 400px;
}
.button-nav {
  background: var(--bluedark);
  width: 140px;
  border-radius: 100px;
  border: solid #f8a215 1px;
  padding: 6px 7px;
  color: var(--yellowlight);
  font-weight: 400;
}
.button-nav:hover {
  background: #e5940d;
  color: var(--bluedark);
  font-weight: 500;
}
.button-yellow1 {
  background: #f8a215;
  width: 255px;
  border-radius: 100px;
  border: none;
  padding: 12px 16px;
  color: #14213d;
  font-weight: 500;
}
.button-yellow1:hover {
  background: #e5940d;
}
.button-yellow2 {
  background: #f8a215;
  width: 240px;
  border-radius: 100px;
  border: none;
  padding: 12px 16px;
  color: #14213d;
  font-weight: 500;
}
.button-yellow2:hover {
  background: #e5940d;
}
.button-card {
  background: #f8a215;
  width: 300px;
  border-radius: 100px;
  border: none;
  padding: 12px 16px;
  color: #14213d;
  font-weight: 500;
}
.button-card:hover {
  background: #e5940d;
}
.button-yellow3 {
  background: #f8a215;
  width: 200px;
  border-radius: 8px;
  border: none;
  padding: 8px 12px;
  color: #14213d;
  font-weight: 500;
}
.button-yellow3:hover {
  background: #e5940d;
}

m.css ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
}

/* footer social icons */
.social-network a.ig:hover {
  background-color: #851ed9;
}
.social-network a.fb:hover {
  background-color: #3b5998;
}
.social-network a.Linkedin:hover {
  background-color: #007bb7;
}
.social-network a.ig:hover i,
.social-network a.fb:hover i,
.social-network a.Linkedin:hover i {
  color: #fff;
}
a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
}
.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

a {
  background-color: var(--bluedark);
}
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
}

/* footer social icons */
.social-network a.ig:hover {
  background-color: #851ed9;
}
.social-network a.fb:hover {
  background-color: #3b5998;
}
.social-network a.Linkedin:hover {
  background-color: #007bb7;
}
.social-network a.ig:hover i,
.social-network a.fb:hover i,
.social-network a.Linkedin:hover i {
  color: #fff;
}
a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
}
.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
